<div class="flex justify-between mx-4">
  {% for product in collection.products %}
    <div>
      <p class="">{{ product.title }}</p>
      {{ product | image_url: width: 200 | image_tag }}
    </div>
  {% endfor %}
</div>
