<header>
  <div class="flex">
    <img src="{{ 'MobileHamburgerMenu.svg' | asset_img_url }}" loading="lazy">
    {% comment %}
       <nav>
        {% for link in linklists['main-menu'].links %}
          <a href="{{ link.url }}"> {{ link.title }}</a>
        {% endfor %}
      </nav>
    {% endcomment %}
    <p>Dusk Shades</p>
    <img src="{{ 'CartMajor.svg' | asset_img_url }}" loading="lazy">
  </div>
</header>
